@import './shared.css';

@font-face {
  /*
   * Importing from CDNFonts does not appear to work:
   * <link href="https://fonts.cdnfonts.com/css/soria" rel="stylesheet" />
   * @import url('https://fonts.cdnfonts.com/css/soria');
  */
  font-family: 'Soria';
  src: url('/soria.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* --- Design System --- */

:root {
  --color-honeydew: rgb(219, 234, 212, 1);
  --color-myrtle: rgb(42, 115, 106, 1);
  --color-naples: rgb(255, 228, 87, 1);
  --color-xanthous: rgb(255, 200, 95, 1);
  --color-icterine: rgb(235, 238, 67, 1);
  --color-salmon: rgb(255, 107, 75, 1);
  --color-coyote: rgb(111, 99, 70, 1);
  --color-violet: rgb(44, 72, 168, 1);
  --color-crayola: rgb(95, 120, 255, 1);
  --color-lavender: rgb(225, 226, 255, 1);

  --selection-primary: var(--color-honeydew);
  --selection-secondary: var(--color-myrtle);

  --layer-1: 100;
  --layer-2: 200;
  --layer-3: 300;
  --layer-4: 400;
  --layer-5: 500;
  --layer-6: 600;
  --layer-7: 700;

  --radius-tight: 1rem;
  --radius: 2rem;
  --radius-loose: 4rem;
  --radius-looser: 6.4rem;

  --speed-fast: 120ms;
  --speed: 240ms;
  --speed-slow: 480ms;
  --speed-slower: 960ms;

  --ease: cubic-bezier(0.64, 0, 0.32, 1);
  --ease-gentle: cubic-bezier(0.2, 0.1, 0.8, 0.9);

  --focus-offset: -0.4rem;
  --icon-size: 2rem;

  /* Typography */

  --outfit-thin: 100;
  --outfit-x-light: 200;
  --outfit-light: 300;
  --outfit-regular: 400;
  --outfit-medium: 500;
  --outfit-semi: 600;
  --outfit-bold: 700;
  --outfit-x-bold: 800;
  --outfit-black: 900;

  --p-size: 1.6rem;
  --subtext-size: 1.4rem;
  --subhead-size: 2.4rem;
  --h1-size: 10rem;
  --h2-size: 6.4rem;
  --h3-size: 3.6rem;

  @media (--min-wide) {
    --p-size: 2rem;
    --subtext-size: 2.4rem;
    --subhead-size: 4rem;
    --h1-size: 14rem;
    --h2-size: 10rem;
    --h3-size: 4.8rem;
  }

  /* SVGs */

  --url-wave-small-myrtle: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 180 24'%3E%3Cpath d='M0,0 C40,0 50,12 90,12 C130,12 140,0 180,0 V24 H0 V0 Z' fill='%232a736a'/%3E%3C/svg%3E");
  --url-wave-medium-myrtle: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 360 40'%3E%3Cpath d='M360,40 H0 V0 C60,0 120,20 180,20 C240,20 300,0 360,0 V40 Z' fill='%232a736a'/%3E%3C/svg%3E");
  --url-wave-medium-naples: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 360 40'%3E%3Cpath d='M360,40 H0 V0 C60,0 120,20 180,20 C240,20 300,0 360,0 V40 Z' fill='%23ffe457'/%3E%3C/svg%3E");

  /* Components */
  --page-padding-x: 2rem;

  --farm-wave-width: 36rem;
  --farm-wave-height: 4rem;
  --farm-blob-offset-y: 4rem;

  --action-font-size: 1.6rem;
  --action-color-primary: var(--color-myrtle);
  --action-color-secondary: var(--color-honeydew);

  @media (--min-desktop) {
    --farm-wave-width: 144rem;
    --farm-wave-height: 16rem;
  }

  @media (--min-wide) {
    --page-padding-x: 4rem;
    --farm-blob-offset-y: 6.4rem;
  }

  @media (--min-ultrawide) {
    --farm-blob-offset-y: 10rem;
  }
}

/* --- Foundation --- */

::selection {
  color: var(--selection-primary);
  background-color: var(--selection-secondary);
}

html {
  background-color: var(--color-honeydew);
}

body {
  font-family: 'Outfit Variable', var(--font-stack-sans-serif);
}

/* --- Typography --- */

.text-p {
  font-size: var(--p-size);
  line-height: 1.3;
}

.text-subtext {
  font-size: var(--subtext-size);
}

.text-subhead {
  font-size: var(--subhead-size);
  line-height: 1.2;
}

.text-head {
  font-family: 'Soria', var(--font-stack-serif);
  line-height: 0.8;
}

.text-head--1 {
  font-size: var(--h1-size);
}

.text-head--2 {
  font-size: var(--h2-size);
}

.text-head--3 {
  font-size: var(--h3-size);
}

.text-block {
  display: block;
}

/* --- Components --- */

svg[data-icon] {
  width: 100%;
  height: 100%;
  overflow: visible;
  fill: currentColor;
}

/* --- Global Animations --- */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
