---
import Layout from '@layouts/Layout.astro';

import Navigation from '@components/Navigation.astro';

import SectionHello from '@sections/Hello.astro';
import SectionFarm from '@sections/Farm.astro';
import SectionGrow from '@sections/Grow.astro';
import SectionFind from '@sections/Find.astro';
import SectionChat from '@sections/Chat.astro';
---

<Layout id="PageHome">
  <div class="Page">
    <Navigation />
    <SectionHello />

    <main>
      <SectionFarm />
      <SectionGrow />
      <SectionFind />
    </main>

    <SectionChat />
  </div>
</Layout>

<style>
  .Page {
    /* Required for some of the over-sized blobs. */
    overflow: hidden;

    /* Page loading */
    transition: opacity var(--speed-slower) var(--ease);

    @starting-style {
      opacity: 0;
    }
  }
</style>

<script>
  import {SECTIONS} from '@constants';
  import {SectionTracker} from '@scripts/SectionTracker';

  const sectionTrackerInstance = new SectionTracker(
    '[data-section]',
    SECTIONS[0].toLowerCase(),
  );

  sectionTrackerInstance.run();
</script>
