---
import {Image} from 'astro:assets';

import imgPour from '@assets/img/farm-pour.jpg';
import Action from '@components/Action.astro';
import Blob from '@components/Blob.astro';
---

<section id="SectionFind" class="SectionFind" data-section="find">
  <div class="Interior">
    <div class="interaction-disable blob-wrapper BlobFront">
      <Blob shape="jelly1" animate stretch />
    </div>

    <div class="interaction-disable blob-wrapper BlobBack">
      <Blob shape="goo1" animate stretch />
    </div>

    <div class="Content">
      <h2 class="text-head text-head--2 Title">
        <span class="text-block">Where To</span>
        <span class="text-block">Find Us</span>
      </h2>

      <p class="text-subhead Subtitle">
        Our goal is to produce the Island’s highest-quality plants and produce.
      </p>

      <p class="text-p Text">
        We want to make it as easy and affordable as possible for everyone on
        the Island to have access to what we grow.
      </p>

      <p class="text-p Text">
        As our farm expands, so will our ability to meet our customers where
        they need us. Keep an eye on this space for more details about our
        upcoming online store.
      </p>

      <p class="text-p Text">
        For now, you can find Hardy Farms at various Farmers’ Markets across
        Vancouver Island. We announce every appearance on our Instagram page.
      </p>

      <p class="text-p Text">
        Depending on your location, you may even be eligible for local delivery.
      </p>

      <div class="Cta">
        <Action id="FindActionInquire">Inquire about local delivery ➞</Action>
      </div>
    </div>

    <div class="ImageWrapper">
      <Image src={imgPour} alt="TODO: Alt text" />
    </div>
  </div>
</section>

<style>
  @import '@styles/shared.css';

  .SectionFind {
    /* Design System Overrides */
    --selection-primary: var(--color-lavender);
    --selection-secondary: var(--color-violet);
    --action-color-primary: var(--color-violet);
    --action-color-secondary: var(--color-lavender);

    z-index: var(--layer-1);
    position: relative;
    text-align: center;
    color: var(--color-violet);
    background-color: var(--color-lavender);

    @media (--min-tablet) {
      text-align: left;
    }
  }

  .Interior {
    position: relative;
    margin: 0 auto;
    max-width: 148rem;
  }

  .Content {
    padding-top: 6.4rem;
    padding-bottom: 4rem;
    padding-left: var(--page-padding-x);
    padding-right: var(--page-padding-x);

    @media (--min-tablet) {
      width: 50%;
      padding-top: 10rem;
      padding-bottom: 8rem;
    }

    @media (--min-desktop) {
      padding-top: 12rem;
      padding-bottom: 14rem;
    }

    @media (--min-wide) {
      padding-top: 14rem;
      padding-bottom: 16rem;
    }
  }

  .Title {
  }

  .Subtitle {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .Text + .Text {
    margin-top: 1em;
  }

  .Cta {
    margin-top: 2rem;

    @media (--min-wide) {
      margin-top: 3.2rem;
    }
  }

  /* --- Blobs --- */

  .blob-wrapper {
    position: absolute;
    bottom: -20%;
    width: 100%;
    aspect-ratio: 1;
    rotate: 90deg;

    @media (--min-tablet) {
      width: 50%;
    }
  }

  .BlobFront {
    z-index: 11;
    left: -20%;
    color: var(--color-violet);

    @media (--min-tablet) {
      left: unset;
      bottom: unset;
      top: 0;
      right: 0;
    }

    @media (--min-desktop) {
      top: 8%;
      right: -20%;
    }

    @media (--min-wide) {
      right: 2%;
    }

    @media (--min-ultrawide) {
      top: 4%;
      right: 4%;
    }
  }

  .BlobBack {
    z-index: 10;
    right: -20%;
    color: var(--color-crayola);

    @media (--min-desktop) {
      right: -12%;
    }

    @media (--min-ultrawide) {
      right: -18%;
    }
  }

  .BlobBack :global(path) {
    animation-duration: 60s;
  }

  /* --- Image Blob --- */

  .ImageWrapper {
    z-index: 12;
    position: relative;
    margin-left: var(--page-padding-x);
    margin-right: var(--page-padding-x);
    aspect-ratio: 1.2;
    border-radius: var(--radius) var(--radius) 0 0;
    overflow: hidden;
    /* Offst to keep beneath adjacent section */
    bottom: -0.2rem;

    @media (--min-tablet) {
      position: absolute;
      top: 10%;
      bottom: 10%;
      right: -10%;
      width: 50%;
      height: auto;
      margin: auto 0;
      aspect-ratio: unset;
      border-radius: var(--radius-loose);
    }

    @media (--min-desktop) {
      width: 60%;
    }

    > img {
      object-fit: cover;
      color: var(--color-icterine);
      background-color: currentColor;
    }
  }
</style>
